nav {
    background-color: #0288d1 !important;
}

.page-footer {
    background-color: #0288d1 !important;
}

.top-logo {
    height: 64px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.scrollable-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

.side-nav a {
    display: flex;
    align-items: center;
    line-height: 1.3;
}

.grey.darken-2 {
    background-color: #0288d1 !important;
}
